/* .card__image {
  width: 150px;
  height: 150px;
}
.cardImg {
  width: 100%;
  height: 100%;
} */

.card {
  width: 300px;
  height: 110px;
  /* border: solid; */
  margin: 1rem;
  border: none !important;
  background: #f6f6f4 !important;
}
.postTitle {
  font-weight: 600;
  font-family: openSans;
  margin: 5px;
}
