#aboutComponent {
  background: #f6f6f4;
  height: 100%;
}
.aboutWrapper {
}
.above {
  height: 100%;
}
.below {
}
.aboutTitle {
}
.techStack {
  width: 100%;
  height: auto;
  border: solid;
}
.education {
  width: 100%;
}
.educationItem {
  width: 100%;
  margin: 1rem;
}
.work {
}
.stacks {
  overflow: auto !important;
}
.stack {
  margin: 0 2rem 1.2rem 0;
}
