#aboutComponent {
  background: #f6f6f4;
  height: 500px;
}
.above {
  border: 2px solid blue;
  height: 100%;
}
.below {
}
.techStack {
  border: solid;
  width: 100%;
  height: 100%;
}
.education {
  width: 100%;
  border: solid;
}
.work {
}
.stacks {
  border: 2px solid red;
  overflow: auto !important;
}
.stack {
  margin: 2rem;
}
