#aboutComponent {
  background: #f6f6f4;
  height: 100%;
}
.aboutWrapper {
}
.above {
  height: 100%;
}
.below {
  background: #fbeeca;
}
.aboutTitle {
}
.techStack {
  width: 100%;
  height: auto;
}
.education {
  width: 100%;
}
.educationItem {
  width: 100%;
  margin: 1rem;
}
.work {
}
.stacks {
  overflow: auto !important;
}
.stack {
  margin: 1rem;
  font-weight: 500;
  color: #172e38;
  font-size: 1.2rem;
}
@media only screen and (max-width: 1200px) {
  .stack {
    margin: 0 2rem 1.2rem 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .stack {
    margin: 0 3rem 2rem 0;
  }
}
.educationTitle {
  font-size: 1.4rem;
  text-align: center;
}
.educationUniversity {
  font-size: 1.1rem;
}
.educationYear {
}
.workIndicator {
}
.workTitle {
  font-size: 1.4rem;
}
.workCompany {
}
.workLocation {
}
.workYear {
}
.iconContainer {
  width: 50px;
  height: 50px;
}
.icon {
  width: 100%;
  height: 100%;
}
