@font-face {
  font-family: openSans;
  src: url(../../assets//fonts/openSans.ttf);
}
@font-face {
  font-family: inconsalata;
  src: url(../../assets//fonts/Inconsolata.ttf);
}

body {
}

.headerComponent {
  height: 80vh;
  width: 100vw;
  background: #ffe01b;
  color: black;
  border: solid;
  padding-top: 10rem;
}
.imageContainer {
  width: 300px;
  height: 300px;
}
.profileImage {
  width: auto;
  height: 100%;
  border-radius: 50%;
}
.headerTextGroup {
  margin-right: 5rem;
}
.headerBigTitle {
  font-size: 10rem;
  font-family: openSans;
}
.headerTitle {
  font-size: 2.5rem;
}
.headerPara {
  font-family: inconsalata;
  font-weight: 500;
  line-height: 2rem;
}
